@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

$font-size-sm: 11px;
$font-size-md: 12px;
$item-title-font-size-sm: 12px;
$item-title-font-size-md: 13px;
$margin-bottom-sm: 18px;
$margin-bottom-md: 24px;
$right-pane-margin-bottom-sm: 16px;
$right-pane-margin-bottom-md: 18px;
$line-height-sm: 13px;
$line-height-md: 18px;
$a4-page-height: 29.7cm;
$top-section-height: 150px;

.corporate {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #000000;
  line-height: $line-height-md;
  width: 794px;
  font-size: $font-size-md;
  font-family: open sans !important;
  -webkit-print-color-adjust: exact;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-top: 5px;
    line-height: $line-height-md;

    li {
      position: relative;
      margin: 0 0 0 0px;
      padding-left: 12px;
    }

    li:before {
      content: "\2022";
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  /* Top section */
  .top-section {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    background: #353f58;
    color: #fff;
    height: 150px;
    padding: 25px;

    .name {
      text-align: center;
      position: relative;
      font-size: 24px;
      line-height: 24px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-bottom: 12px;
      letter-spacing: 7.5px;
    }

    .name:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      bottom: -1px;
      left: 50%;
      background: #fff;
      transform: translateX(-50%);
    }

    .last-name {
      margin-left: 0.5rem;
    }

    .position-title {
      letter-spacing: 1.5px;
      line-height: 13px;
    }
  }

  /*corporate-body*/
  .corporate-body {
    display: flex;
    flex-grow: 1;

    > * {
      padding: 18px 25px;
    }
    .left-pane {
      padding-right: 15px;
    }

    .right-pane {
      padding-left: 15px;
      background-color: #f5f6f5;
      width: 230px;
      flex: none;

      .container {
        margin-bottom: $right-pane-margin-bottom-md;
      }
    }
  }

  /* common left-right corporate-body */
  section {
    position: relative;
    margin-top: 15px;
  }

  section:first-child {
    margin-top: 0;
    border: none;
  }

  .item-title {
    font-size: $item-title-font-size-md;
  }

  .education .category-title {
    margin-top: 2px;
  }

  .heading {
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  .heading:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: -2px;
    left: 0px;
    background: #ccc;
  }

  /* SVG Icon Style */
  .icon-row {
    display: flex;
    margin-bottom: 7px;
  }

  .icon-row:last-child {
    margin-bottom: 0;
  }

  .icon-svg {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: normal;
    margin-top: 0;
    float: left;
    background: #e0e0e0;
    border-radius: 50%;
  }

  .icon-text {
    padding-left: 5px;
  }

  .container {
    margin-bottom: $margin-bottom-md;
  }

  .skills .container,
  .certificate .container {
    margin-top: 5px;
  }

  /* icons */
  .icon-svg {
    margin-top: -1px;
  }

  .icon-svg svg {
    width: 9px;
    margin-top: 2px;
  }

  .text-bold {
    font-weight: bold;
  }

  .text-italic {
    font-style: italic;
  }

  .text-uppercase {
    text-transform: uppercase;
  }
}
