# Logs
logs
*.log

# Dependency directories
node_modules/

# Build folders 
build/
dist/

# dotenv environment variables file
*.env
*.env.*

# Firebase caches
.firebase*
.runtimeconfig.json

resources/