@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: #fff;
  line-height: 1;
  text-align: left;
  font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" off;
  -webkit-print-color-adjust: exact;
}

.skn-slg7 table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

/*START content disc style for LI*/
.skn-slg7 ul,
.skn-slg7 li {
  list-style: none;
  margin: 5px 0 0 23px;
  padding: 0;
}

.skn-slg7 ul li {
  position: relative;
  margin: 0 0 2px 5px;
}

.skn-slg7 ul li:before {
  content: "\2022";
  position: absolute;
  left: -15px;
  top: 0;
}

.skn-slg7 .certSec ul {
  margin: 0px;
}

.skn-slg7 .certSec ul li {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  padding: 0px;
  margin-left: 0;
  vertical-align: top;
}

.skn-slg7 .certSec ul li:nth-child(2n) {
  margin-right: 0;
}

.skn-slg7 .certSec ul li:before {
  display: none;
}

/*END content disc style for LI*/

/*Helper Classes*/
.skn-slg7 .paddedline {
  display: block;
  clear: both;
}

.skn-slg7 .txtBold {
  font-weight: bold;
}

.skn-slg7 .txtCapt {
  text-transform: capitalize;
}

.skn-slg7 .txtItl {
  font-style: italic;
}

.skn-slg7 .dispBlock {
  display: block;
}

/*Document Classes*/
.skn-slg7 {
  color: #000;
  word-wrap: break-word;
}

.skn-slg7 .heading {
  clear: both;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.skn-slg7 .heading:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #ccc;
  bottom: -5px;
}

.skn-slg7 .paragraph {
  position: relative;
}

.skn-slg7 .name {
  padding: 0;
  color: #000;
  margin-bottom: 5px;
  font-family: Roboto;
}

.skn-slg7 .nameSec,
.skn-slg7 .firstparagraph,
.skn-slg7 .cntcSec {
  margin-top: 0 !important;
}

.skn-slg7 .cntcSec {
  padding: 5px 30px;
  background: #f5f6f5;
  margin-left: -30px;
  margin-right: -30px;
}

.skn-slg7 .resumeTitle {
  padding-bottom: 14px;
}

.skn-slg7 .address {
  display: inline-block;
}

.skn-slg7 .refrSec .wrapper,
.skn-slg7 .educSec {
  display: inline-block;
  width: 100%;
}

.skn-slg7 .refrSec .paragraph,
.skn-slg7 .educSec .paragraph {
  width: 49%;
  padding-right: 1%;
  float: left;
  height: 100%;
  display: inline-block;
  margin-top: 0;
}

.skn-slg7 .refrSec .singlecolumn,
.skn-slg7 .educSec .singlecolumn {
  padding-bottom: 5px;
}

.skn-slg7 .course,
.skn-slg7 .award,
.skn-slg7 .activity {
  margin-bottom: 10px;
}

.skn-slg7 .hiltSec .paragraph {
  width: 22.3%;
  display: inline-block;
  padding: 5px;
  background: #ccc;
  vertical-align: top;
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.skn-slg7 .hiltSec .paragraph:nth-child(4n) {
  margin-right: 0 !important;
}

.skn-slg7 .referdetail {
  margin-bottom: 5px;
}

/* SVG Icon Style */
.skn-slg7 .iconRow {
  width: 30%;
  float: left;
  height: auto;
  padding-right: 5px;
  vertical-align: top;
  display: table;
  table-layout: fixed;
}

.skn-slg7 .iconRow:nth-child(2) {
  width: 21.5%;
}

.skn-slg7 .iconRow:last-child {
  width: 45%;
  padding-right: 0;
}

.skn-slg7 .iconSvg svg {
  margin-top: 3px;
}

.skn-slg7 .iconSvg {
  width: 17px;
  height: 17px;
  text-align: center;
  display: table-cell;
}

.skn-slg7 .iconSvg .iconBg {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: normal;
  margin-top: 0;
  float: left;
  background: #c7c7c7;
  border-radius: 50%;
}

.skn-slg7 .icoTxt {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  display: table-cell;
  word-break: break-word;
}
.skn-slg7 {
  line-height: 14px;
}

.skn-slg7.pagesize {
  width: 794px;
}

.skn-slg7.fontsize,
.skn-slg7 ul li:before {
  font-size: 11px;
}

.skn-slg7.fontface {
  font-family: Open sans;
}

.skn-slg7.vmargins {
  padding-top: 30px;
  padding-bottom: 30px;
}

.skn-slg7.hmargins {
  padding-left: 30px;
  padding-right: 30px;
}

.skn-slg7 .section {
  margin-top: 10px;
}

.skn-slg7 .paragraph {
  margin-top: 10px;
}

.skn-slg7 .cntcSec {
  background: #f5f6f5;
}

.skn-slg7 .singlecolumn,
.skn-slg7 .maincolumn {
  margin-left: 0px;
}

.skn-slg7 .sectiontitle {
  font-size: 14px;
  line-height: 17px;
}

.skn-slg7 .resumeTitle {
  font-size: 14px;
  line-height: 16px;
}

.skn-slg7 .name {
  font-size: 36px;
  line-height: 36px;
}

.skn-slg7 .address {
  font-size: 10px;
  line-height: 14px;
}

.skn-mlg7 .iconSvg {
  margin-top: 0px;
}

.skn-slg7 .iconSvg svg {
  width: 10px;
}

.skn-slg7 .txtBold {
  font-size: 12px;
}
