@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Expletus+Sans:400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  text-align: left;
  font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" off;
  -webkit-print-color-adjust: exact;
}

/*START content disc style for LI*/
.skn-mlg7 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 9px;
  margin-top: 3px;
}

.skn-mlg7 ul li {
  position: relative;
  margin: 0 0 0 0px;
  padding-left: 18px;
}

.skn-mlg7 ul li:before {
  content: "\2022";
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}

.skn-mlg7 .leftBox ul li:before {
  display: none;
}

/*END content disc style for LI*/

.skn-mlg7 .txtBold {
  font-weight: bold;
}

.skn-mlg7 .txtItl {
  font-style: italic;
}

.skn-mlg7 .dispBlock {
  display: block;
}

.skn-mlg7 .txtCaps {
  text-transform: uppercase;
}

.skn-mlg7 .txtCapt {
  text-transform: capitalize;
}

/*Document*/
.skn-mlg7 {
  color: #000000;
  line-height: 13px;
  min-height: 792px;
}

.skn-mlg7 .name {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-family: "Expletus Sans", cursive;
}

.skn-mlg7 .resumeTitle {
  color: #414141;
  background: #fff;
  padding: 6px 60px;
  position: absolute;
  bottom: -35px;
  right: 30px;
  font-family: "Catamaran", sans-serif;
}

/* common left-right container */
.skn-mlg7 .section {
  position: relative;
  clear: both;
}

.skn-mlg7 .leftBox,
.skn-mlg7 .rightBox {
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
}

.skn-mlg7 .leftBox {
  padding: 20px 15px 20px 15px;
}

.skn-mlg7 .rightBox {
  padding: 10px 15px 25px 15px;
}

.skn-mlg7 .section:first-child {
  padding-top: 0;
}

.skn-mlg7 .leftBox:empty,
.skn-mlg7 .section:empty {
  display: none;
}

.skn-mlg7 .education .categoryTitle {
  margin: 5px 0px;
  font-style: italic;
}

.skn-mlg7 .eduDetails {
  margin-bottom: 8px;
}

.skn-mlg7 .sectionTitle {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Expletus Sans", cursive;
}

/* Common Heading style */
.skn-mlg7 .heading {
  margin-bottom: 8px;
  position: relative;
}

.skn-mlg7 .rightBox .heading {
  text-align: center;
  border: 2px solid #414141;
  padding: 4px 0px;
  vertical-align: middle;
}

/* Top section */
.skn-mlg7 .topSection {
  text-align: center;
  padding-top: 20px;
  border-bottom: 2px solid #000;
  position: relative;
}

.skn-mlg7 .topSection .leftBox {
  display: block;
  text-align: center;
}

/*parentContainer*/
.skn-mlg7 .parentContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
}

.skn-mlg7 .parentContainer .leftBox {
  border-right: 2px solid #414141;
  text-align: right;
}

/* SVG Icon Style */
.skn-mlg7 .iconRow {
  width: 190px;
  clear: both;
  margin-bottom: 7px;
  word-wrap: break-word;
  display: table;
  float: right;
  table-layout: fixed;
}

.skn-mlg7 .iconRow:last-child {
  margin-bottom: 0;
}

.skn-mlg7 .iconRow label {
  font-weight: bold;
  text-transform: uppercase;
}

.skn-mlg7 .icoTxt {
  width: 160px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-word;
  display: table-cell;
}

.skn-mlg7 .iconSvg {
  width: 11px;
  height: 11px;
  line-height: normal;
  margin-top: 2px;
  float: right;
  display: table-cell;
}

.skn-mlg7 .iconSvg svg {
  width: 11px;
  height: 11px;
}
.skn-mlg7,
.skn-mlg7 table {
  line-height: 15px;
}

.skn-mlg7.pagesize {
  width: 794px;
}

.skn-mlg7.fontsize {
  font-size: 12px;
}

.skn-mlg7.fontface {
  font-family: calibri, Open Sans;
}

.skn-mlg7 .section {
  padding-top: 20px;
}

.skn-mlg7 .firstparagraph {
  margin-top: 0 !important;
}

.skn-mlg7 .paragraph {
  margin-top: 12px;
}

.skn-mlg7 .skills .paragraph,
.skn-mlg7 .certificate .paragraph {
  margin-top: 2px;
}

.skn-mlg7 .parentContainer {
  min-height: 696px;
}

.skn-mlg7 .parentContainer .singlecolumn {
  margin-left: 0px;
}

.skn-mlg7 .leftBox .singlecolumn {
  margin-left: 0 !important;
}

.skn-mlg7 .name {
  font-size: 45px;
  line-height: 45px;
}

.skn-mlg7 .resumeTitle {
  font-size: 14px;
  line-height: 15px;
}

.skn-mlg7 .sectionTitle {
  font-size: 11px;
  line-height: 14px;
}

.skn-mlg7 .parentContainer .leftBox {
  width: 215px;
}

.skn-mlg7 .address {
  font-size: 11px;
}

@-moz-document url-prefix() {
  .skn-mlg7 .parentContainer {
    height: 692px;
  }
}
