@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  text-align: left;
  font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" off;
  -webkit-print-color-adjust: exact;
}

/*START content disc style for LI*/
.skn-mlg4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-top: 3px;
}

.skn-mlg4 ul li {
  position: relative;
  margin: 0 0 0 0px;
  padding-left: 18px;
}

.skn-mlg4 ul li:before {
  content: "\2022";
  font-size: 17px;
  position: absolute;
  left: 0;
  top: 0;
}

.skn-mlg4 .education ul,
.skn-mlg4 .education ul li {
  padding-left: 0px;
  margin-left: 0px;
}

.skn-mlg4 .education ul li:before {
  display: none;
}

/*END content disc style for LI*/

.skn-mlg4 .txtBold {
  font-weight: bold;
  letter-spacing: 1px;
}

.skn-mlg4 .txtItl {
  font-style: italic;
}

.skn-mlg4 .dispBlock {
  display: block;
}

.skn-mlg4 .txtCaps {
  text-transform: uppercase;
}

.skn-mlg4 .txtCapt {
  text-transform: capitalize;
}

.skn-mlg4 .txtCtr {
  text-align: center;
}

/*Document*/
.skn-mlg4 {
  color: #000000;
  line-height: 13px;
  min-height: 792px;
}

.skn-mlg4 .name {
  color: #000;
  background: #fff;
  padding: 15px 0px 30px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #666;
  margin-top: -80px;
}

.skn-mlg4 .paragraphName {
  width: 100%;
}

.skn-mlg4 .resumeTitle {
  color: #fff;
  letter-spacing: 2.5px;
  margin-top: -8px;
  text-transform: uppercase;
  font-weight: bold;
}

.skn-mlg4 .resumeTitle span {
  background: #8acecf;
  background: #8acecf;
  padding: 8px;
}

/* common left-right container */
.skn-mlg4 .section {
  position: relative;
  clear: both;
}

.skn-mlg4 .leftBox,
.skn-mlg4 .rightBox {
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
}

.skn-mlg4 .leftBox {
  padding: 0px 15px 25px 10px;
}

.skn-mlg4 .rightBox {
  padding: 0px 10px 25px 0px;
}

.skn-mlg4 .topSection .leftBox {
  display: block;
  text-align: center;
  padding: 0px 15px 25px 15px;
}

.skn-mlg4 .section:first-child {
  padding-top: 0;
}

.skn-mlg4 .leftBox:empty,
.skn-mlg4 .section:empty {
  display: none !important;
}

.skn-mlg4 .education .categoryTitle {
  margin-top: 6px;
  font-style: italic;
}

.skn-mlg4 .secExpr .paragraph {
  padding-left: 200px;
  position: relative;
}

.skn-mlg4 .secExpr .exprDate {
  padding-left: 0px;
  font-weight: bold;
  width: 160px;
  position: absolute;
  left: 10px;
  top: 0;
  border-bottom: 2px solid #8acecf;
  padding-bottom: 3px;
}

.skn-mlg4 .leftBox:empty + .rightBox {
  display: block !important;
}

.skn-mlg4 .leftBox:empty + .rightBox .heading {
  padding-left: 15px;
}

.skn-mlg4 .leftBox:empty + .rightBox .heading:before {
  left: 14%;
}

.skn-mlg4 .leftBox:empty + .rightBox .iconSvg {
  padding-left: 18px;
}

/* Common Heading style */
.skn-mlg4 .heading {
  padding-bottom: 15px;
  position: relative;
  text-align: center;
}

.skn-mlg4 .sectionTitle {
  color: #000000;
  letter-spacing: 1px;
  font-weight: bold;
}

.skn-mlg4 .secExpr .heading:before {
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  bottom: 9px;
  position: absolute;
  background: #8acecf;
}

/* Top section */
.skn-mlg4 .topSection {
  text-align: center;
  padding: 50px 0px 0px 0px;
  margin-top: 47px;
}

/*parentContainer*/
.skn-mlg4 .parentContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.skn-mlg4 .parentContainer .leftBox .section {
  padding: 0px 10px;
}

.skn-mlg4 .summary .heading:before {
  content: "";
  left: 22%;
  width: 170px;
  height: 2px;
  bottom: 9px;
  position: absolute;
  background: #8acecf;
}

.skn-mlg4 .sectionCntc .heading:before {
  content: "";
  left: 12%;
  width: 180px;
  height: 2px;
  bottom: 9px;
  position: absolute;
  background: #8acecf;
}

/* SVG Icon Style */
.skn-mlg4 .address {
  table-layout: fixed;
}

.skn-mlg4 .iconRow {
  clear: both;
  margin-bottom: 7px;
  word-wrap: break-word;
  display: table;
  table-layout: fixed;
  width: 240px;
}

.skn-mlg4 .iconRow:last-child {
  margin-bottom: 0;
}

.skn-mlg4 .iconRow label {
  font-weight: bold;
  text-transform: uppercase;
}

.skn-mlg4 .icoTxt {
  padding-left: 10px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-word;
  vertical-align: middle;
  display: table-cell;
  width: 210px;
}

.skn-mlg4 .iconSvg {
  width: 11px;
  height: 11px;
  line-height: normal;
  margin-top: 0;
  float: right;
  display: table-cell;
  padding-left: 22px;
}

.skn-mlg4 .iconSvg svg {
  width: 11px;
  height: 11px;
}

/*Middle Section*/
.skn-mlg4 .midSection,
.skn-mlg4 .lastSection {
  padding: 0px 10px;
}

.skn-mlg4 .midBox {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.skn-mlg4 .midSection .section .heading,
.skn-mlg4 .midSection .section .heading,
.skn-mlg4 .refrence .heading {
  background: #8acecf;
  padding: 6px 10px;
  margin-bottom: 6px;
}

.skn-mlg4 .midSection .section:nth-child(2) .heading {
  background: #3d3d3d;
}

.skn-mlg4 .midBox .section {
  display: table-cell;
  width: 33%;
  border-left: 2px solid #666;
  padding: 0px 12px;
}

.skn-mlg4 .midBox .section:first-child {
  border: none;
}

.skn-mlg4 .midBox .sectionTitle,
.skn-mlg4 .refrence .sectionTitle {
  color: #fff;
  margin: 0;
  font-weight: normal;
}

.skn-mlg4 .lastSection .section:first-child {
  padding-top: 15px;
}

.skn-mlg4 .refrence .heading {
  padding: 6px 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.slick-current .skn-mlg4 .icoTxt {
  padding-left: 20px;
}
.skn-mlg4,
.skn-mlg4 table {
  line-height: 14px;
}

.skn-mlg4.pagesize {
  width: 794px;
}

.skn-mlg4.fontsize {
  font-size: 11px;
}

.skn-mlg4.fontface {
  font-family: open sans;
}

.skn-mlg4 {
  min-height: 696px;
}

.skn-mlg4 .section {
  padding-top: 15px;
}

.skn-mlg4 .firstparagraph {
  margin-top: 0 !important;
}

.skn-mlg4 .paragraph {
  margin-top: 12px;
}

.skn-mlg4 .skills .paragraph,
.skn-mlg4 .certificate .paragraph {
  margin-top: 2px;
}

.skn-mlg4 .parentContainer .singlecolumn,
.skn-mlg4 .parentContainer .singlecolumn,
.skn-mlg4 .parentContainer .maincolumn {
  margin-left: 0px;
}

.skn-mlg4 .leftBox .singlecolumn {
  margin-left: 0 !important;
}

.skn-mlg4 .name {
  font-size: 34px;
  line-height: 37px;
}

.skn-mlg4 .resumeTitle {
  font-size: 13px;
  line-height: 17px;
}

.skn-mlg4 .sectionTitle {
  font-size: 17px;
  line-height: 20px;
}

.skn-mlg4 .parentContainer .rightBox {
  width: 250px;
}
