@import "../../variables";

.education-section {
  .card-container {
    .resume-form-fields {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      grid-template-areas:
        "program program completion-date"
        "school-name school-name school-name"
        "divider divider divider"
        "show-additional-fields-button show-additional-fields-button show-additional-fields-button"
        "addition-fields addition-fields addition-fields";

      .additional-form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
          "start-date has-graduated mark"
          "location location location"
          "hide-additional-fields-button hide-additional-fields-button hide-additional-fields-button";
      }
    }
  }
}
