@import "../variables";

.side-bar-permanent {
  width: $side-bar-width;
  flex-shrink: 0;

  > * {
    width: $side-bar-width;
    padding-top: 4rem;
  }
}

.side-bar-collapsible {
  display: none;

  ul {
    width: 180px;
  }
}

@media print {
  .side-bar-permanent,
  .side-bar-collapsible {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .side-bar-permanent {
    display: none;
  }
  .side-bar-collapsible {
    display: block;
  }
}
