@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  text-align: left;
  -webkit-print-color-adjust: exact;
}

/*START content disc style for LI*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-top: 3px;
}

ul li {
  position: relative;
  margin: 0 0 0 0px;
  padding-left: 12px;
}

ul li:before {
  content: "\2022";
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}

.corporate
 {
  color: #000000;
  line-height: 15px;
  min-height: 792px;
  width: 794px;
  font-size: 12px;
  font-family: open sans;
}

.txtBold {
  font-weight: bold;
}

.txtItl {
  font-style: italic;
}

.d-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.name {
  color: #fff;
  padding: 0 0 12px 0;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 7.5px;
}

.position-title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* common left-right container */
.section {
  position: relative;
}

.left-box,
.right-box {
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
}

.left-box {
  padding: 25px 15px 25px 25px;
}

.right-box {
  padding: 25px 25px 25px 15px;
}

.topsection .left-box {
  display: block;
  text-align: center;
  padding: 25px;
}

.topsection .left-box .name {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.topsection .left-box .name:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background: #fff;
  bottom: -5px;
  left: 47.24%;
}

.left-box:empty,
.section:empty {
  display: none;
}

.section:first-child {
  padding-top: 0;
  border: none;
}

.singlecolumn .jobtitle {
  font-size: 12px;
  text-transform: uppercase;
}

.education .category-title {
  margin-top: 2px;
}

.refername {
  text-transform: capitalize;
}

.right-box > .summary:first-child .heading {
  display: none;
}

/* Common Heading style */
.heading {
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
}

.heading:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 40px;
  height: 2px;
  background: #ccc;
}

.sectiontitle {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* Top section */
.topsection {
  background: #353f58;
  position: relative;
  z-index: 9;
}

.topsection .section {
  border: none;
  margin-bottom: 0;
  padding-top: 0;
}

.topsection .left-box {
  vertical-align: middle;
}

/*parentContainer*/
.parentContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.parentContainer .right-box {
  background: #f5f6f5;
}

.parentContainer .left-box,
.parentContainer .right-box {
  padding-top: 18px;
}

/* SVG Icon Style */
.iconRow {
  clear: both;
  display: table;
  margin-bottom: 7px;
  word-wrap: break-word;
}

.iconRow:last-child {
  margin-bottom: 0;
}

.iconSvg {
  width: 15px;
  height: 15px;
  display: table-cell;
  text-align: center;
  line-height: normal;
  margin-top: 0;
  float: left;
  background: #e0e0e0;
  border-radius: 50%;
}

.icoTxt {
  display: table-cell;
  padding-left: 5px;
  vertical-align: top;
}

.zipprefix {
  display: none;
}

/* word-break:break-all added for pdf */
.icoTxt {
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

table {
  line-height: 13px;
}

.section {
  padding-top: 15px;
}

.paragraph {
  margin-top: 18px;
}

.skills .paragraph,
.certificate .paragraph {
  margin-top: 5px;
}

.parentContainer {
  min-height: 696px;
}

.parentContainer .singlecolumn,
.parentContainer .singlecolumn,
.parentContainer .maincolumn {
  margin-left: 0px;
}

.right-box .singlecolumn {
  margin-left: 0 !important;
}

.name {
  font-size: 24px;
  line-height: 24px;
}

.position-title {
  font-size: 12px;
  line-height: 13px;
}

.sectiontitle {
  font-size: 15px;
  line-height: 17px;
}

.parentContainer .right-box {
  width: 230px;
}

.topsection {
  background-color: #353f58;
}

.singlecolumn .eduDetails,
.singlecolumn .jobtitle,
.refrence .referdetail {
  font-size: 12px;
}

ul {
  line-height: 14px;
}

/* icons */
.iconSvg {
  margin-top: -1px;
}

.iconSvg svg {
  width: 9px;
  margin-top: 2px;
}