@import "../../variables";

.work-experience-section {
  .list-item { 
    margin-bottom: 1rem;
  }

  .card-container {
    .resume-form-fields {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      grid-template-areas:
        "title title title"
        "company company company"
        "location location empty"
        "start-date is-current-job end-date"
        "divider divider divider"
        "responsibilities responsibilities responsibilities";
    }
  }
}
