@import "../../variables";

.work-experience-section {
  .summary-responsibilities {
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: inherit;
    margin-top: 0.25rem;
    font-size: 1rem;
  }

  .card-container {
    .resume-form-fields {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      grid-template-areas:
        "title title title"
        "company company company"
        "location location empty"
        "start-date is-current-job end-date"
        "divider divider divider"
        "responsibilities responsibilities responsibilities";
    }
  }
}
