@import "../variables";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;

  .content {
    flex-grow: 1;
    min-width: 0px;

    .side-bar + * {
      margin-left: $side-bar-width;
    }
  }
}

@media print {
  .app-body {
    padding: 0;

    .side-bar + * {
      margin-left: 0 !important;
    }
  }
}
