#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  flex: 1;

  .content {
    flex-grow: 1;
    min-width: 0px;
  }
}
