@import "../variables";

.resume-builder{
  .resume-builder-heading{
    font-size:3rem;
    margin-bottom:0.5rem;
    color: $primary;
  }

  .resume-builder-description{
    font-size:1.5rem;
    margin-bottom:1rem;
    color: $primary;
  }
}