@import "../variables";

.nav-bar {
  font-size: 1.6rem;

  // 1 z-index above drawer
  z-index: 1201 !important;

  .emphasise {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 0.25rem;
  }

  .nav-header {
    color: $text-color;
    text-decoration: initial;
    font-weight: initial;
    flex-grow: 1;
  }

  .nav-menu-icon {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .nav-bar {
    .nav-menu-icon {
      display: block;
    }
  }
}

@media print {
  .nav-bar {
    display: none !important;
  }
}
