$primary: #3e416d;
$primary-dark: #2f3152;
$primary-light: #50548d;
$text-color: #f3f4f9;
$background-color: #f3f4f9;

$error-color: #f44336;
$error-color-transparent: #f44336d1;

$grey: #9798a9;
$lg-button-font: 1.3rem;
$lg-button-icon: 1.5rem;

$border-hover-black: rgba(0, 0, 0, 0.87);
$border-grey: rgba(0, 0, 0, 0.23);

$a4-height: 297mm;

$side-bar-width: 240px;

$breakpoint-tablet: 768px;